<h1>Adicionar user</h1>
<form action="/users/create" method="post">
    <div class="form-control">
        <label for="name">Nome: </label>
        <input type="text" name="name" placeholder="Nome do user">
    </div>

    <div class="form-control">
        <label for="occupation">Profissão: </label>
        <input type="text" name="occupation" placeholder="  Profissão">
    </div>

    <div class="form-control">
        <input type="checkbox" name="newsletter" checked>
         <label for="newsletter">Enviar promoções: </label>
    </div>
    <input type="submit" value="cadastrar">
</form>
